header {
  background-color: #007dc6;
  padding: 20px 0; }
  header .user {
    padding: 10px 0; }
    header .user ul li {
      display: inline-block; }
      header .user ul li i {
        color: #ffc220;
        font-size: 1.3em; }
      header .user ul li span {
        font-family: 'Raleway', sans-serif;
        font-size: 1.3em;
        color: #3f3f3f;
        font-weight: 700;
        color: #ffffff;
        padding-left: 15px; }
        header .user ul li span i {
          padding-left: 10px;
          cursor: pointer;
          font-size: 1em; }
      header .user ul li .dropMenu {
        background-color: #ffffff;
        position: absolute;
        top: 35px;
        left: 31px;
        border: 1px solid #c6c6c6;
        padding-right: 0;
        padding-left: 0;
        display: none; }
        header .user ul li .dropMenu li {
          display: block;
          padding: 15px 0;
          padding-left: 15px; }
          header .user ul li .dropMenu li a {
            font-family: 'Raleway', sans-serif;
            font-size: 1em;
            color: #3f3f3f;
            font-weight: 400; }
          header .user ul li .dropMenu li:nth-child(1) {
            border-bottom: 1px solid #c6c6c6; }

.wrapContainer {
  height: 100%; }
  .wrapContainer .container-fluid, .wrapContainer .row {
    height: 100%; }
  .wrapContainer .menuLateral {
    height: 100%;
    background-color: #007dc6; }
    .wrapContainer .menuLateral ul {
      margin-top: 20px; }
      .wrapContainer .menuLateral ul li {
        padding: 25px;
        background-color: transparent;
        -webkit-transition: background-color, 0.2s;
        transition: background-color, 0.2s; }
        .wrapContainer .menuLateral ul li a {
          font-family: 'Raleway', sans-serif;
          font-size: 1.1em;
          color: #3f3f3f;
          font-weight: 700;
          letter-spacing: 2px;
          color: #ffffff;
          text-transform: uppercase; }
          .wrapContainer .menuLateral ul li a i {
            margin-right: 10px;
            width: 40px;
            color: #ffc220;
            font-size: 1.3em; }
          .wrapContainer .menuLateral ul li a:hover, .wrapContainer .menuLateral ul li a:active, .wrapContainer .menuLateral ul li a:focus {
            text-decoration: none;
            background-color: transparent; }
        .wrapContainer .menuLateral ul li:hover, .wrapContainer .menuLateral ul li:active, .wrapContainer .menuLateral ul li:focus {
          background-color: rgba(255, 255, 255, 0.3);
          cursor: pointer; }
  .wrapContainer .content {
    margin-top: 20px; }

.topPage ul {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: solid 3px #c6c6c6;
  margin-bottom: 25px; }
  .topPage ul li h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    color: #3f3f3f;
    font-weight: 700; }

.tabelaPedidos thead tr th {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  color: #3f3f3f;
  font-weight: 700; }

.tabelaPedidos tbody tr td {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  color: #3f3f3f;
  font-weight: 400;
  vertical-align: middle; }
  .tabelaPedidos tbody tr td img {
    height: 125px;
    width: auto; }
  .tabelaPedidos tbody tr td:nth-child(2) {
    min-width: 150px; }

.enderecoPrincipal {
  padding-left: 0; }
  .enderecoPrincipal h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    color: #3f3f3f;
    font-weight: 700;
    margin-bottom: 10px; }
  .enderecoPrincipal ul {
    border: 5px solid #ffc220;
    padding-top: 25px;
    padding-bottom: 10px;
    border-radius: 10px; }
    .enderecoPrincipal ul i {
      float: left;
      color: #ffc220;
      padding-right: 20px;
      font-size: 4em;
      height: 80px;
      padding-left: 15px; }
    .enderecoPrincipal ul li p {
      font-family: 'Raleway', sans-serif;
      font-size: 1.3em;
      color: #3f3f3f;
      font-weight: 700;
      padding-bottom: 10px; }

.enderecosSecundarios {
  padding-left: 0;
  margin-top: 25px; }
  .enderecosSecundarios h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    color: #3f3f3f;
    font-weight: 700;
    margin-bottom: 10px; }
  .enderecosSecundarios ul {
    border: 5px solid #007dc6;
    padding-top: 25px;
    padding-bottom: 10px;
    border-radius: 10px;
    display: inline-block;
    margin-right: 10px; }
    .enderecosSecundarios ul i {
      float: left;
      color: #007dc6;
      padding-right: 20px;
      font-size: 4em;
      height: 80px; }
    .enderecosSecundarios ul li p {
      font-family: 'Raleway', sans-serif;
      font-size: 1em;
      color: #3f3f3f;
      font-weight: 700;
      padding-bottom: 10px; }
