
$azul: #007dc6;
$amarelo: #ffc220;
$branco: #ffffff;
$cinza: #3f3f3f;
$cinzaClaro: #c6c6c6;
$break-small: 40em;



@mixin fontLightMX($fontSize){
    font-family: 'Raleway', sans-serif;
    font-size: $fontSize;
    color: $cinza;
    font-weight: 300;
}

@mixin fontPadraoMX($fontSize){
    font-family: 'Raleway', sans-serif;
    font-size: $fontSize;
    color: $cinza;
    font-weight: 400;
}

@mixin fontBoldMX($fontSize){
    font-family: 'Raleway', sans-serif;
    font-size: $fontSize;
    color: $cinza;
    font-weight: 700;
}

@mixin transitionMX($propriedade, $tempo){
    transition: $propriedade, $tempo;
}

@media screen and (min-width:1280px) and (max-width:1440px){
}
@media screen and (max-width: $break-small){
    .slicknav_menu{
        display: block!important;
        background-color: $azul;
        & .slicknav_btn{
            background-color: #00588c;
            left: 43%;
            float: left;
        }
        & .slicknav_nav{
            & ul{
                padding-left: 0;
                margin-left: 0;
                & li{
                    padding: 10px;
                    padding-left: 0;
                    background-color: transparent;
                    @include transitionMX(background-color, 0.2s);
                    & a{
                        @include fontBoldMX(1.1em);
                        letter-spacing: 2px;
                        color: $branco;
                        text-transform: uppercase;
                        & i{
                            margin-right: 10px;
                            width: 40px;
                            color: $amarelo;
                            font-size: 1.3em;
                        }
                        &:hover, &:active, &:focus{
                            text-decoration: none;
                            background-color: transparent;
                        }
                    }
                    &:hover, &:active, &:focus{
                        background-color: rgba(255,255,255,0.3);
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .dropMenu{
        left:0!important;
        z-index: 2;
    }
    .menuLateral{
        display: none!important;
    }
    .tabelaPedidos{
        display: none!important;
    }
    .pedidosMobile{
        display: block!important;
        height: 380px;
        & ul{
            height: 100%;
            & li{
                & ul{
                    & li{
                        & h2{
                            @include fontBoldMX(1.2em);
                            padding-bottom: 15px;
                        }
                        & p{
                            width: 90%;
                            white-space: normal;
                            @include fontPadraoMX(1em);
                        }
                        & img{
                            height: 200px;
                        }
                    }
                }
            }
            & .arrow{
                z-index:9;
                position: absolute;
                bottom: 0px;
                float: right;
                left: 35%;
                & p{
                    @include fontPadraoMX(0.8em);
                    color: $cinza;
                    display: inline-block;
                    width: 150px;
                    margin-bottom: 15px;
                    padding-right: 20px;
                }
                & i{
                    font-size: 2em;
                    color: $cinza;
                    position: absolute;
                    bottom: 5px;
                }
            }
        }
    }

    .enderecoPrincipal{
        & ul{
            padding-right: 10px;
            & li{
                & p{
                    font-family: 'Raleway', sans-serif;
                    font-size: 1.1em!important;
                    color: $cinza;
                    font-weight: 700;
                }
            }
            & i{
                height: 150px!important;
                padding-top: 15px
            }
        }
    }
    .enderecosSecundarios{
        & ul{
            margin-bottom: 15px;
            & li{
                & i{
                    padding-top: 10px;
                }
            }
        }
    }
}

.slicknav_menu{
    display: none;
}
.pedidosMobile{
    display: none;
}
header{
    background-color: $azul;
    padding: 20px 0;
    & .user{
    padding: 10px 0;
        & ul{
            & li{
                display: inline-block;
                & i{
                    color: $amarelo;
                    font-size: 1.3em;
                }
                & span{
                    @include fontBoldMX(1.3em);
                    color: $branco;
                    padding-left: 15px;
                    & i{
                        padding-left: 10px;
                        cursor: pointer;
                        font-size: 1em;
                    }
                }
                & .dropMenu{
                    background-color: $branco;
                    position: absolute;
                    top: 35px;
                    left: 31px;
                    border: 1px solid $cinzaClaro;
                    padding-right: 0;
                    padding-left: 0;
                    display: none;
                    & li{
                        display: block;
                        padding: 15px 0;
                        padding-left: 15px;
                        & a{
                            @include fontPadraoMX(1em);
                        }
                        &:nth-child(1){
                            border-bottom: 1px solid $cinzaClaro;
                        }
                    }
                }
            }
        }
    }
}

.wrapContainer{
        height: 100%;
    & .container-fluid, & .row{
        height: 100%;
    }
    & .menuLateral{
        height: 100%;
        background-color: $azul;
        & ul{
            margin-top: 20px;
            & li{
                padding: 25px;
                background-color: transparent;
                @include transitionMX(background-color, 0.2s);
                & a{
                    @include fontBoldMX(1.1em);
                    letter-spacing: 2px;
                    color: $branco;
                    text-transform: uppercase;
                    & i{
                        margin-right: 10px;
                        width: 40px;
                        color: $amarelo;
                        font-size: 1.3em;
                    }
                    &:hover, &:active, &:focus{
                        text-decoration: none;
                        background-color: transparent;
                    }
                }
                &:hover, &:active, &:focus{
                    background-color: rgba(255,255,255,0.3);
                    cursor: pointer;
                }
            }
        }
    }
    & .content{
        margin-top: 20px;
    }
}

.topPage{
    & ul{
        padding-top: 25px;
        padding-bottom: 25px;
        border-bottom: solid 3px $cinzaClaro;
        margin-bottom: 25px;
        & li{
            & h4{
                @include fontBoldMX(2em);
            }
        }
    }
}

.tabelaPedidos{
    display: block;
    & thead{
        & tr{
            & th{
                @include fontBoldMX(1.2em);
            }
        }
    }
    & tbody{
        & tr{
            & td{
                @include fontPadraoMX(1em);
                vertical-align: middle;
                & img{
                    height: 125px;
                    width: auto;
                }
                &:nth-child(2){
                    min-width: 150px;
                }
            }
        }
    }
}
.enderecoPrincipal{
    padding-left: 0;
    & h5{
        @include fontBoldMX(1.2em);
        margin-bottom: 10px;
    }
    & ul {
        border: 5px solid $amarelo;
        padding-top:25px ;
        padding-bottom:10px ;
        border-radius: 10px;
        & i{
            float: left;
            color: $amarelo;
            padding-right: 20px;
            font-size: 4em;
            height: 80px;
            padding-left: 15px;
        }
        & li{
            & p{
                @include fontBoldMX(1.3em);
                padding-bottom: 10px;
            }
        }
    }
}
.enderecosSecundarios{
    padding-left: 0;
    margin-top: 25px;
    & h5{
        @include fontBoldMX(1.2em);
        margin-bottom: 10px;
    }
    & ul{
        border: 5px solid $azul;
        padding-top:25px ;
        padding-bottom:10px ;
        border-radius: 10px;
        display: inline-block;
        margin-right: 10px;
        & i{
            float: left;
            color: $azul;
            padding-right: 20px;
            font-size: 4em;
            height: 80px;
        }
        & li{
            & p{
                @include fontBoldMX(1em);
                padding-bottom: 10px;
            }
        }
    }
}

.meuPerfil{
    border: 5px solid $azul;
    border-radius: 5px;
    padding-top:25px ;
    padding-bottom:10px ;
    & ul{
        & li{
            margin-bottom: 10px;
            & p{
                @include fontPadraoMX(1em);
                & strong{
                    @include fontBoldMX(1.2em);
                }
            }
        }
    }
}
