<div class="topPage">
    <ul class="col-md-11">
        <li>
            <h4>Meus Endereços</h4>
        </li>
    </ul>
</div>


<div class="clearfix"></div>

<div class="enderecoPrincipal col-md-7">
    <h5>Endereço Principal</h5>
    <ul ng-repeat="enderecoPrincipal in listaEnderecos" ng-show="enderecoPrincipal.tipo === 'principal'">
        <i class="fa fa-map-marker"></i>
        <li>
            <p>{{enderecoPrincipal.logradouro}}, {{enderecoPrincipal.numero}}, {{enderecoPrincipal.complemento}}</p>
        </li>
        <li>
            <p>{{enderecoPrincipal.cep}}</p>
        </li>
        <li>
            <p>{{enderecoPrincipal.bairro}}, {{enderecoPrincipal.cidade}}/{{enderecoPrincipal.estado}}</p>
        </li>
    </ul>
</div>

<div class="clearfix"></div>

<div class="enderecosSecundarios col-md-10">
    <h5>Endereços Secundários</h5>
    <ul ng-repeat="enderecoPrincipal in listaEnderecos" ng-show="enderecoPrincipal.tipo !== 'principal'" class="col-md-5">
        <i class="fa fa-map-marker"></i>
        <li>
            <p>{{enderecoPrincipal.logradouro}}, {{enderecoPrincipal.numero}}, {{enderecoPrincipal.complemento}}</p>
        </li>
        <li>
            <p>{{enderecoPrincipal.cep}}</p>
        </li>
        <li>
            <p>{{enderecoPrincipal.bairro}}, {{enderecoPrincipal.cidade}}/{{enderecoPrincipal.estado}}</p>
        </li>
    </ul>
</div>
