<div class="topPage">
    <ul class="col-md-11">
        <li>
            <h4>Meus Pedidos</h4>
        </li>
    </ul>
</div>

<div class="clearfix"></div>

<div class="tabelaPedidos table-responsive col-md-10">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="2">Produto</th>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="pedido in listaPedidos">
                <td><img src="img/{{pedido.imagem}}"></td>
                <td>{{pedido.nome}}</td>
                <td>{{pedido.descricao}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="clearfix"></div>

<div class="pedidosMobile">
    <ul rn-carousel class="box col-xs-12" >
        <li ng-repeat="pedido in listaPedidos">
            <ul>
                <li>
                    <img src="img/{{pedido.imagem}}">
                </li>
                <li>
                    <h2>
                        {{pedido.nome}}
                    </h2>
                </li>
                <li>
                    <p>
                        {{pedido.descricao}}
                    </p>
                </li>
            </ul>
        </li>
    <div class="arrow col-xs-12">
        <p>Arraste para ver mais</p><i class="fa fa-angle-right"></i>
    </div>
    </ul>
</div>
